<div class="carousel slide" data-ride="carousel">
	<ol class="carousel-indicators">
		<li class="active"></li>
		<li></li>
		<li></li>
	</ol>
  <div class="carousel-inner">
		<div class="item active">
			<img class="slide-image" src="https://p0.meituan.net/hotelnoah/5d645880-a9bc-4222-bb89-510f7339d7a7.jpg.webp" alt="First slide">
		</div>
		<div class="item">
			<img class="slide-image" src="http://placehold.it/800x300" alt="Second slide">
		</div>
		<div class="item">
			<img class="slide-image" src="http://placehold.it/800x300" alt="Third slide">
		</div>
	</div>
	<!-- 轮播（Carousel）导航 -->
	<a class="left carousel-control" href="javascript:$('.carousel').carousel('prev');">
		<span class="glyphicon glyphicon-chevron-left"></span>
	</a>
	<a class="right carousel-control" href="javascript:$('.carousel').carousel('next');">
		<span class="glyphicon glyphicon-chevron-right"></span>
	</a>
</div>
